.product-form {
  width: 20rem;
  max-width: 90%;
  margin: auto;
}

.form-control {
  margin: 1rem 0;
}

.form-control label,
.form-control input {
  display: block;
  width: 100%;
}

.form-control input {
  border: 1px solid #ebb132;
  font: inherit;
  border-radius: 2px;
}

button {
  font: inherit;
  border: 1px solid #882fd6;
  color: #882fd6;
  background: #fff;
  border-radius: 3px;
  padding: 0.5rem;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

button:hover,
button:active {
  background-color: #882fd6;
  color: #fff;
}
